<!DOCTYPE HTML>
<html>
  <head lang="jp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}: {{ version }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/music_box.css">

    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/music_box.js"></script>
  </head>
  <body style="background-color: lightgrey;">
    <header>
    <h1 class="text-center">{{ title }} Ver. {{ version }}</h1>
    </header>
    <main>
      <form method="POST" action="/">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <img src="/static/images/music_box1.jpg"
                 height="510px">
          </div> <!-- col -->
          <div class="col-sm-6 col-md-6">
            <div class="container-fluid">
              <div class="row">
                <br />
                -[ push ]-------------[ pull ]-------[ tap ]
              </div> <!-- row -->
              {% for ch in ch_list1 %}
              <div class="row">
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} on +10 on">
                  <i class="fas fa-caret-square-left"></i></button>
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} on -10 on">
                  <i class="fas fa-caret-square-right"></i></button>
                --- ({{ ch }}) ---
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} off +10 on">
                  <i class="fas fa-caret-square-left"></i></button>
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} off -10 on">
                  <i class="fas fa-caret-square-right"></i></button>
                ------
                <button type="submit" name="cmdline"
                        value="single_play {{ch}}">
                  <i class="fas fa-circle"></i></button>
              </div> <!-- row -->
              {% end %}
              {% for ch in ch_list2 %}
              <div class="row">
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} on -10 on">
                  <i class="fas fa-caret-square-left"></i></button>
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} on +10 on">
                  <i class="fas fa-caret-square-right"></i></button>
                --- ({{ ch }}) ---
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} off -10 on">
                  <i class="fas fa-caret-square-left"></i></button>
                <button type="submit" name="cmdline"
                        value="change_onoff {{ ch }} off +10 on">
                  <i class="fas fa-caret-square-right"></i></button>
                ------
                <button type="submit" name="cmdline"
                        value="single_play {{ch}}">
                  <i class="fas fa-circle"></i></button>
              </div> <!-- row -->
              {% end %}
           </div> <!-- container -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
      </form>
    </main>
    <footer>
      <hr />
      <p class="text-right">
        (c) 2020 <strong>{{ author }}</strong> &nbsp;
      </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>
